.container {
    margin: 40px 20px;
}

.introduction h1 {
    color: white;
    width: fit-content;
    font-size: 3em;
}

.introduction p {
    color: white;
    width: 50%;
    font-size: 1.3em;
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio {
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: center;
}
